<div id="splash">
  <!-- <h1>Bluff - Game of LIES </h1> -->
  <img src="../../assets/images/aces.png" alt="">
  <form class="" action="index.html" method="post">
    Your name:
    <input type="text" name= "playerName" [(ngModel)]="playerName">
    <button id="join-button" (click)="joinGame()" *ngIf="!joined">Join!</button>
    <p *ngIf="joined" class="waiting-msg">Waiting for other players...</p>
  </form>

  <div class="players-list">
    <p>Players:</p>
    <p *ngFor="let player of allPlayers">{{ player.name }}</p>
  </div>

  <a *ngIf="isLeader" [routerLink]="['/gameroom']" class="enter-game button button-red"  data-icon="♚">Play!</a>
</div>


<!-- <button id="table"></button>
<button id="sphere"></button>
<button id="helix"></button>
<button id="grid"></button> -->
