<div>
  <div class="announce-join">
    <p>{{allPlayers[allPlayers.length-1]['name']}} joined the game</p>
  </div>
  <h1>Gameroom: {{name}}</h1>
  <button *ngIf="isLeader" (click)="startGame()">START</button>

  <a [routerLink]="['/stats']">Show stats</a><br>
  <a [routerLink]="['/splash']">Home</a><br>

  <div class="gameboard">
    <p>All Players:</p>
    <p *ngFor="let player of allPlayers">{{player.name}}</p>
    <button (click)="play()" [disabled]="!isActive">Play</button>
    <button (click)="callBluff()">Call bluff</button>
    <button (click)="pass()" [disabled]="!isActive">Pass</button>

    <h3>Showing {{ state.players[myId].name }}'s hand</h3>
    <div id="hand">
      <div *ngFor="let card of state.players[myId].hand" class="card" id="{{card.cardid}}" (click)="selectCard(card.cardid)">
        <p>{{ card.name }} of {{ card.suit }}</p>
      </div>
    </div>
  </div>
</div>
