<div id="main">
  <div class="announce-join">
    <p>{{allPlayers[allPlayers.length-1]['name']}} joined the game</p>
  </div>

  <div id="nav">
    <h1>Welcome {{name}}!</h1>
    <a [routerLink]="['/stats']" class="simple">Show stats</a>
    <a [routerLink]="['/splash']" class="simple">Home</a>
    <button *ngIf="isLeader" (click)="startGame()" class="button button-red">START GAME</button>
  </div>
  <div class="main-content">
    <div class="gameboard">

      <div id="p1" [ngClass]="{'current-player': ((2 + myId) % state.players.length == state.active_player)}">
          <div class="player-info">
            <p>{{ state.players[(2 + myId) % state.players.length].name }}</p>
            <p>{{ state.players[(2 + myId) % state.players.length].hand.length }} cards remaining</p>
          </div>
          <img src="../../assets/images/red_back.png" alt="" style="margin-left:0px">
          <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
          <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
          <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
      </div>
      <div class="mid-players">
        <div id="p2">
            <div id="cards" [ngClass]="{'current-player': ((1 + myId) % state.players.length == state.active_player)}">
                <div class="player-info">
                  <p>{{ state.players[(1 + myId) % state.players.length].name }}</p>
                  <p>{{ state.players[(1 + myId) % state.players.length].hand.length }} cards remaining</p>
                </div>
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:0px">
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
            </div>
        </div><div
        id="table">
            <div id="cards">
                <div id="pile"><p>Number of cards: {{cards_in_pile}}</p></div>
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:0px">
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
            </div>
        </div><div
        id="p3">
            <div id="cards" [ngClass]="{'current-player': ((3 + myId) % state.players.length == state.active_player)}">
                <div class="player-info">
                  <p>{{ state.players[(3 + myId) % state.players.length].name }}</p>
                  <p>{{ state.players[(3 + myId) % state.players.length].hand.length }} cards remaining</p>
                </div>
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:0px">
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
                <img src="../../assets/images/red_back.png" alt="" style="margin-left:-78px">
            </div>


        </div>
      </div>
        <div *ngIf="state.gameon" id="current-info">
          <p *ngIf="curround_card_value">Now playing {{ card_names[curround_card_value] }}...</p>
          <p *ngIf="!curround_card_value">Waiting for a card to be selected...</p>
        </div>            

      <div id="hand">
          <img *ngFor="let card of player_hand" class="card" id="{{card.cardid}}" [ngClass]="{'make-bigger':display_selected[card.cardid] == true}" (click)="selectCard(card.cardid)" src="../../assets/images/{{card.img}}.png" style="margin-left:-80px">
        <!-- <div *ngFor="let card of state.players[myId].hand" class="card" id="{{card.cardid}}" (click)="selectCard(card.cardid)">
          <p>{{ card.name }} of {{ card.suit }} - {{ card.img }}</p>
        </div> -->
      </div>
      <div id="actions">
      <!--  <p *ngFor="let player of allPlayers">{{player.name}}</p> -->
      <select [disabled]="!isActive || curround_card_value" [(ngModel)]="choosen_card" class="card-selector">
        <option value="1">Ace</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
      </select>
        <button (click)="play()" [disabled]="!isActive" data-icon="♚" class="button button-green">Play</button>
        <button (click)="callBluff()" [disabled]="!isActive" data-icon="♛" class="button button-red">Call bluff</button>
        <button (click)="pass()" [disabled]="!isActive" class="button button-blue" >Pass</button>

        <!-- <h3>Showing {{ state.players[myId].name }}'s hand</h3> -->
      </div>
    </div>
    <div class="history-wrapper">
      <div class="playhistory">
        <p *ngFor = 'let play of play_history'> {{ play['message']  }}</p>
      </div>
    </div>
  </div>
</div>
